<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clean Signle Page Template</title>
</head>
<body style="background-color:#295ff5;color:#fff;font-family:Verdana;">
<div style="text-align:center;padding-top:100px;width:100%">
    <a href="index-light.html" style="text-decoration:none;color:#fff;font-size:30px;font-weight:900;" >LIGHT VERSION</a>

    <br /><br /><br /><br />
    <a href="index-dark.html" style="text-decoration:none;color:#fff;font-size:30px;font-weight:900;" >DARK VERSION</a>
    <br /><br /><br /><br />
   Choose the version you would like.
        
        <br />
         This temple is free to use for personal & commercial use by
        <br /><br />
        <a href="http://www.binarytheme.com/" target="_blank" style="color:#000;text-decoration:none;" >binarytheme.com</a>

</div>
    
</body>
</html>
