<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3 VPN Deployment</title>
</head>
<body>
<h1>CSAP Telecom L3 VPN Tool</h1>

<form>

    Route Distinguisher:<br>
  <input type="text" name="Route Distinguisher"><br>
    Source ID:<br>
  <input type="text" name="Source ID"><br>
    Source CE Device:<br>
  <input type="text" name="Source CE Device"><br>
    Source CE Interface:<br>
  <input type="text" name="Source CE Interface"><br>
    Source Network:<br>
  <input type="text" name="Source Network"><br>
    Source Bandwidth:<br>
  <input type="text" name="Source Bandwidth"><br>
    Source AS Number:<br>
  <input type="text" name="Source AS Number"><br>
    Destination ID:<br>
  <input type="text" name="Destination ID"><br>
    Destination CE Device:<br>
  <input type="text" name="Destination CE Device"><br>
    Destination CE Interface:<br>
  <input type="text" name="Destination CE Interface"><br>
    Destination Network:<br>
  <input type="text" name="Destination Network"><br>
    Destination Bandwidth:<br>
  <input type="text" name="Destination Bandwidth"><br>
    Destination AS Number:<br>
  <input type="text" name="Destination AS Number"><br>

</form>
</body>
</html>