<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3 VPN Deployment</title>
</head>
<body>
<h1>CSAP Telecom L3 VPN Tool</h1>

<img src="../static/assets/img/topology.png" alt="Network Topology" align="right" style="width:900px;height:500px;">

<style>
    { margin: 0; padding: 0; }

    html {
        background: url("../static/assets/img/home.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<br action="/action_page.php" method="post">

    Route Distinguisher:
  <select name="Route Distinguisher">
      <option label=" "></option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
  </select>
    <br>
    <br>
    Source ID:
  <input type="text" name="Source ID">
    <br>
    <br>
    Source CE Device:
  <select name="Source Device">
      <option label=" "></option>
    <option value="ce2">ce2</option>
  </select>
    <br>
    <br>
    Source CE Interface:
  <select name="Source Interface">
      <option label=" "></option>
    <option value="GigabitEthernet0/1">GigabitEthernet0/1</option>
  </select>
    <br>
    <br>
    Source Network:
  <select name="Source Network">
      <option label=" "></option>
    <option value="11.11.1.0/24">11.11.1.0/24</option>
  </select>
    <br>
    <br>
    Source Bandwidth:
  <select name="Source Bandwidth">
      <option label=" "></option>
    <option value="1000">1000</option>
      <option value="100">100</option>
  </select>
    <br>
    <br>
    Source AS Number:
  <select name="Source AS Number">
      <option label=" "></option>
    <option value="65201">65201</option>
  </select>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <font color="white">Destination ID:</font>
  <input type="text" name="Destination ID">
    <br>
    <br>
    <font color="white">Destination CE Device:</font>
  <select name="Destination Device">
      <option label=" "></option>
    <option value="ce3">ce3</option>
  </select>
    <br>
    <br>
    <font color="white">Destination CE Interface:</font>
  <select name="Destination Interface">
      <option label=" "></option>
    <option value="GigabitEthernet0/1">GigabitEthernet0/1</option>
  </select>
    <br>
    <br>
    <font color="white">Destination Network:</font>
  <select name="Destination Network">
      <option label=" "></option>
    <option value="11.11.2.0/24">11.11.2.0/24</option>
  </select>
    <br>
    <br>
    <font color="white">Destination Bandwidth:</font>
  <select name="Destination Bandwidth">
      <option label=" "></option>
    <option value="1000">1000</option>
      <option value="100">100</option>
  </select>
    <br>
    <br>
    <font color="white">Destination AS Number:</font>
  <select name="Destination AS Number">
      <option label=" "></option>
    <option value="65202">65202</option>
  </select>
    <br>
    <br>
    <input type="submit" value="Submit">


</form>
</body>
</html>