<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3 VPN Deployment</title>
</head>
<body>
<h1>CSAP Telecom L3 VPN Tool</h1>

<img src="topology.png" alt="Network Topology" align="right" style="width:900px;height:500px;">

<form action="/action_page.php" method="post">

    Route Distinguisher:
  <select name="Route Distinguisher">
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="300">300</option>
  </select>
    <br>
    Source ID:
  <input type="text" name="Source ID"><br>
    Source CE Device:
  <select name="Source Device">
    <option value="ce2">ce2</option>
  </select><br>
    Source CE Interface:
  <select name="Source Interface">
    <option value="GigabitEthernet0/1">GigabitEthernet0/1</option>
  </select><br>
    Source Network:
  <select name="Source Network">
    <option value="11.11.1.0/24">11.11.1.0/24</option>
  </select><br>
    Source Bandwidth:
  <select name="Source Bandwidth">
    <option value="900000">900000</option>
  </select><br>
    Source AS Number:
  <select name="Source AS Number">
    <option value="65201">65201</option>
  </select><br>

    Destination ID:
  <input type="text" name="Destination ID"><br>
    Destination CE Device:
  <select name="Destination Device"><br>
    <option value="ce3">ce3</option><br>
  </select><br>
    Destination CE Interface:
  <select name="Destination Interface">
    <option value="GigabitEthernet0/1">GigabitEthernet0/1</option>
  </select><br>
    Destination Network:
  <select name="Destination Network">
    <option value="11.11.2.0/24">11.11.2.0/24</option>
  </select><br>
    Destination Bandwidth:
  <select name="Destination Bandwidth">
    <option value="300000">300000</option>
  </select><br>
    Destination AS Number:
  <select name="Destination AS Number">
    <option value="65202">65202</option>
  </select>

    <br>

    <input type="submit" value="Submit">




</form>
</body>
</html>